#home-page {
  background: url("https://www.yts.nz/assets/images/movies/pokemon_the_movie_white_victini_and_zekrom_2011/large-screenshot3.jpg") center/cover;
  
  padding: 20px;
  color: #ffffff; /* Color del texto */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: background-size 0.5s;
  
  
}
#pokemon-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  color: #c3c9c4;
  justify-content: center;
 
}

.pokemon-card {
  flex: 1 0 calc(25%-20px);
  max-width: calc(25%-20px);
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 15%;
  color: #c3c9c4;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  width: 250px;

}

.pokemon-card img {
  width: 90%;
  height: auto;
   transition: transform 0.2s ease-in-out;
}
.pokemon-card:hover img {
  transform: scale(1.1); /* Escala un poco más grande al pasar el ratón por encima */
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px; /* Ajusta el espacio entre los botones y el contenido superior */
}
.button-containerI {
  display: flex;
  justify-content: space-between;  
  margin-top: 10px; /* Ajusta el espacio entre los botones y el contenido superior */
}

h1{
  color: #fbfbfb !important;
}

p{
  color: #020101;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none !important;
}

a{
  text-decoration: none;
}

.filter-search-container {
  display: flex;
  justify-content: space-between; /* Ajusta el espacio entre los componentes */
  margin-top: 6px; /* Ajusta el espacio entre FilterOptions/SearchBar y el contenido superior */
  
}

#home-page h1 {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 6em; /* Tamaño del título, ajusta según sea necesario */
  margin-bottom: 10px;
  margin-top: 20px; /* Márgen superior */
  transition: font-size 0.5s;
  
}


#home-page button {
  background-color: #4c59af; /* Color de fondo del botón */
  color: #ffffff; /* Color del texto del botón */
  padding: 4px 15px;
  font-size: 1.2em; /* Tamaño del texto del botón, ajusta según sea necesario */
  border: none;
  border-radius: 5px;
  cursor: pointer;
    margin: 0 10px;
  transition: font-size 0.5s;
}
#button-buscar{
 padding: 18px;
}

#home-page button:hover {
  background-color: #c3c9c4; /* Color de fondo del botón al pasar el ratón */
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
}
.filter-search-container {
  display: flex;
  align-items: center; /* Para alinear verticalmente */
}

.order-dropdown {
  margin-right: 10px; /* Ajusta el margen entre el botón de filtro y la barra de búsqueda */
}